/.idea/shelf/Uncommitted_changes_before_Checkout_at_26_05_2024,_07_51_[Changes]/shelved.patch
/.idea/shelf/Uncommitted_changes_before_Checkout_at_26_05_2024__07_51__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
