* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header img {
    display: block;
    max-width: 7vw;
    width: auto;
}

header .dots {
    width: 3vw;
    height: 3vw;
    margin-right: 5rem;
}

.back-arrow-dots {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.back-arrow {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.arrow {
    width: 1.5vw;
    height: 1vw;
    transform: rotate(180deg);
}

.main-header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding:1rem;
    gap: 1rem;
}

.main-header img {
    display: block;
    max-width: 3vw;
    width: auto;
}

.main-container {
    display: flex;
    flex-direction: column;
    padding: 3rem;
    gap: 1rem;
}

.main-container-item {
    padding-top: 1rem;
}

.main-container-subitem {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    padding-top: 0.5rem;
}

.main-container-button {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-top: 1rem;
}

.start-button {
    border: #003787 0.1rem solid;
    border-radius: 0.5rem;
    background-color: #003787;
    color: white;
    padding: 0.5rem;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    /*position: absolute;*/
    bottom: 0;
    width: 100%;
}
