* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header img {
    display: block;
    max-width: 7vw;
    width: auto;
}

header .dots {
    width: 3vw;
    height: 3vw;
}

.container-footer {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: #5076AD80 0.1rem solid;
    border-radius: 0.5rem;
    background-color: #00378705;
    padding: 0.5rem;
    margin-top: 2rem;
}

.container-footer a {
    text-decoration: none;
    color: #5076AD;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-part {

}

.main-part .title {
    color: darkblue;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 0;
    border: grey 0.1rem solid;
}

.main-part .title h1 {
    font-weight: normal;
}

.main-part .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 2rem;
    border: grey 0.1rem solid;
}

.main-part .navigation a {
    text-decoration: none;
    color: grey;
}

.search {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5vh;
}

.search p {
    border: grey 0.1rem solid;
    justify-self: center;
    align-items: center;
    width: 20%;
    text-align: center;
}

.course-container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5rem;
}

.course{
    display: flex;
    align-content: center;
    justify-content: center;
    border: grey 0.1rem solid;
    height: 5vw;
}

.course .blue{
    background-color: #003787;
    width: 3vw;
}

.course .name-of-the-course{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

.course h2{
    font-weight: normal;
}

.course .dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    border-left: grey 0.1rem solid;
}

.new-course p{
    align-content: center;
    justify-content: center;
    border: grey 0.1rem solid;
    background-color: #003787;
    width: 5vw;
    height: 5vh;
}
.new-course{
    display: flex;
    justify-content: end;
    margin: 5rem;
}