* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
}

header img {
    display: block;
    max-width: 7vw;
    width: auto;
}

header .dots {
    width: 3vw;
    height: 3vw;
}

.container-footer {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: #5076AD80 0.1rem solid;
    border-radius: 0.5rem;
    background-color: #00378705;
    padding: 0.5rem;
    margin-top: 2rem;
}

.container-footer a {
    text-decoration: none;
    color: #5076AD;
}

footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.main-part {

}

.left-side {
    display: flex;
    width: 16%;
    justify-content: space-between;
    align-items: center;

}

.left-side a {
    align-self: end;
}

.heading {
    display: flex;
    justify-content: center;
    align-content: center;
}

.heading h1 {
    font-weight: normal;
    color: darkblue;
}

.mark-as-ended {
    display: flex;
    flex-direction: row-reverse;
    font-style: italic;
    text-decoration: underline;
    margin: 2rem;
    color: gray;
}

.navigation {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}

.test {
    display: flex;
    align-items: center;
    border: blue 0.1rem solid;
    padding: 1rem 12rem;
    gap: 1rem;
}

.navigation a {
    text-decoration: none;
    align-items: center;
}

.navigation img {
    height: 5vh;
    width: 5vh;
    text-align: center;

}

.heading-two {
    display: flex;
    justify-content: space-between;
    margin-inline: 3rem;
    margin-top: 3rem;
    margin-bottom: 1rem;
    color: #000000A8;
}

.heading-two a{
    color: #000000A8;
}

.course-container{
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 5rem;
}

.course{
    display: flex;
    align-content: center;
    justify-content: center;
    border: grey 0.1rem solid;
    height: 5vw;
}

.course .orange{
    background-color: #C56106;
    width: 3vw;
}

.course .name-of-the-course{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70vw;
}

.course h2{
    font-weight: normal;
}

.course .dropdown{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10vw;
    border-left: grey 0.1rem solid;
}
