* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    color: aqua;
}

.header {
    display: flex;
    justify-content: start;
    padding: 1rem;
}

.header-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 1rem;
}

.header-image img {
    max-width: 8vw;
    max-height: 15vh;
}

.header-tab {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.header-tab-item {
    display: flex;
    padding: 1rem;
    gap: 1rem;
    border: #000000 0.1rem solid;
}

.header-tab img {
    max-width: 4vw;
    max-height: 8vh;
}

.header-tab-text {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.header-tab-text h3 {
    flex-grow: 1;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}