* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.header img{
    display: block;
    max-width: 7vw;
    width: auto;
}

.container {
    display: grid;
    grid-template-columns: 38% 24% 38%;
    grid-template-rows: 3fr 10fr 3fr;
}

.container-header {
    grid-column: 2/3;
    grid-row: 1/2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-main {
    grid-column: 2/3;
    grid-row: 2/3;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 2rem;
    border: #5076AD80 0.1rem solid;
    border-radius: 1rem;
    background-color: #00378705;
}

.password-container {
    display: flex;
    gap: 1rem;
}

.password-container p {
    flex-grow: 1;
}

.password-container a {
    text-decoration: none;
}

.test {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    border: #003787 0.1rem solid;
    border-radius: 0.5rem;
    background-color: #003787;
    color: white;
    padding: 0.3rem;
}

.container-footer {
    grid-column: 2/3;
    grid-row: 3/4;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border: #5076AD80 0.1rem solid;
    border-radius: 0.5rem;
    background-color: #00378705;
    padding: 0.5rem;
    margin-top: 2rem;
}

.container-footer a{
    text-decoration: none;
    color: #5076AD;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
    position: absolute;
    bottom: 0;
    width: 100%;
}


