* {
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.container {
    display: flex;
    justify-content: center;
    padding: 2rem;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 2rem;
    gap: 1rem;
}


